html {
  background: url("../img/Starlit\ Valley.png") no-repeat;
  background-size: cover;
  font-family: "Courier", Arial, sans-serif;
}

#memory_board {
  background:linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
	width:570px;
	/*height:490px;*/
  padding:70px;
  padding-left: 110px;
	margin:0px auto;
  border-radius: 84px;
  position: relative;
  /* top: 10px; */
  box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
}

.card{
  display: inline-block;
}
.card .back{
  transition: all .5s;
  transform: rotateY(180deg);
}

.card .back i{
  opacity: 0;
}


.card .back{
  background-color: #456783;
  
  display: flex;
  flex-flow: row wrap; 

  align-items:center; 
  justify-content:space-around;  
  width:71px;
	height:71px;
	float: left;
	margin:10px;
	padding:20px;
  font-size:64px;
}
.card .front.blocked,
.card .back.blocked {
  pointer-events: none;
}


.card .active {
  background: green;
  transform: rotateY(0deg);

}

.card .active.back i{
  opacity: 1;
}

.card .wrong {
  animation: toggleWrong .2s 3;
  transform: rotate(0deg);
}

@keyframes toggleWrong{
  50%{
      background:red;
  }
  100%{
    background:inital;
    /* transform: rotate(180deg); */
}
}

#score {
  background-color: rgba(215, 44, 44, 0.8);;
  border-radius: 8px;
  font-size: 30px;
  font-family: Arial;
  width:175px;
  padding: 20px;
  padding-top: 0;
  margin-left: 80%;
  height: 140px;
  font-size: 18px;
  position:fixed;
}

.container {
  position: relative;
}

h1 {
  color: rgba(215, 40, 40, 0.9);
  font-family: 'Monoton',cursive;
  font-weight: bolder;
  font-size: 75px;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);

}

h2 {
  color: #456783;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  text-shadow: 1px #ff0000;
  text-shadow: 1px #ff0000;
}

p.description {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  left: 570px;
}

p2.side-note {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


